@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Mooli&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-black-200 {
  background-color: rgb(52, 53, 58);
}

body {

  font-family: 'Mooli', sans-serif;
}

.bg-yellow-color {
  background-color: rgb(255, 200, 107);
}

.text-yellow-color {
  color: rgb(255, 200, 107);
}

.text-two:hover {
  color: rgb(255, 200, 107);
}

.text-two {
  color: rgb(151, 152, 154);
}

.blue-bg {
  background-color: rgb(49, 51, 59)
}

.Hero_Section_Image {
  border-top: 5px solid rgb(255, 200, 107);
  border-bottom: 5px solid rgb(255, 200, 107);
  border-left: 5px solid rgb(255, 255, 255);
  border-right: 5px solid rgb(255, 255, 255);
}

.Contact_ME_Section {
  border: 3px solid rgb(255, 200, 107);
}

.Hero_Name_Section {
  font-family: 'Croissant One', cursive;
}

.Icon_hover:hover {
  color: rgb(255, 200, 107);
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(151, 152, 154);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(255, 200, 107);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 100px;
}

.Mobile_View_Nav {
  background-color: #000000cb;
}

.Skill_Section_Bg {
  background-color: rgb(61, 62, 66);
}